/* створили контейнер для кожної секції, так контент не буде розягуватися на всю ширину екрана */
.container {
    width: 100%; /* задали ширину контейнера, але в пікселях задавати не правильно */
    max-width: 1288px; /* а тепер обмежили максимальну ширину, по макету 1240, а ми додали ще padding 48px */
    margin: 0 auto; /* центрували контейнер */
    padding: 0 24px; /*???? щоб текст не прилипав до країв, задати відступи зліва і справа і ми додаємо 24+24 до ширини 1240px */
  }