.contact-section {
  padding-bottom: 96px;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media screen and (min-width: $bp-tablet)  {
      flex-direction: row;
      gap: 32px;
    }
  }

  &__title {
    margin-bottom: 16px;
    // text-align: center;
    }

  &__form-field {
    margin-bottom: 16px; /* додали відступ між полями вводу */

    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 24px;
    }
  }

  &__button {
    display: block;
    margin: 0 auto 16px; /* це значення для того щоб розташувати кнопку по центрі, але працює це тільки для блокових елементів (а кнопка була inline-block) */
  }

  &__map {
    flex-shrink: 0;
    height: 176px;
    margin: 0 -24px;
    border: none;
    border-radius: 16px;

    @media screen and (min-width: $bp-tablet) {
      margin: auto;
      width: 320px;
      height: 500px;
    }

    @media screen and (min-width: $bp-desktop) {
      width: 600px;
      height: 595px;
    }
  }
}
