.header {
  position: absolute; /* спозиціонували header щоб він накладався поверх головної секції */
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 16px; /*коли є позиціонування елемента, відстань рекомендовано задавати черз padding чи margin, задаємо окремо*/

  @media screen and (min-width: $bp-desktop) {
    padding-top: 32px; /*коли є позиціонування елемента, відстань рекомендовано задавати черз padding чи margin, задаємо окремо*/
  }

  &__container {
    display: flex;
    align-items: center;
    gap: 40px; /* задали відстань між кнопкою і меню */
  }

  &__nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 40px; /* задали відстань між лого і меню */
  }

  &__menu {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      display: flex;
      gap: 64px; /* задали відстань між елементами */
      flex-grow: 1; /* розтягнули список ul на все вільне місце контейнера */
      justify-content: center;
    }
  }

  &__button {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      display: block;
    }
  }

  &__burger {
    width: 24px;
    height: 24px;
    padding: 0;
    background-color: transparent;
    border: none;
    fill: var(--color-primary-light);

    @media screen and (min-width: $bp-desktop) {
      display: none;
    }
  }
}
